@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="~/Dashboard/plugins/fontawesome-free/css/all.min.css">

    <link rel="stylesheet" href="~/Dashboard/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

    <link rel="stylesheet" href="~/Dashboard/dist/css/adminlte.min.css">
</head>


</html>
<body class="hold-transition login-page">


    <div class="login-box">

    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="../../index2.html" class="h1">S-Book</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                        <label asp-for="Input.UserName" class="form-label">UserName</label>
                        <input asp-for="Input.UserName" class="form-control" autocomplete="UserName" aria-required="true" />

                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                        <label asp-for="Input.Password" class="form-label">Password</label>

                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true"  />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                   
                </div>
            </form>
           

            <p class="mb-1">
                <a href="forgot-password.html">I forgot my password</a>
            </p>
           
        </div>

    </div>

</div>
</body>
           
       
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
